{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
 <section class="container">
    <h1>Mes Informations : </h1>
    <div class="row">
        <div class="col-3 ms-5 p-3 border border-dark">
            <p>Nom : {{userLastname}}</p>
            <p>Prénom : {{userFirstname}}</p>
            <p>E-mail : {{userEmail}}</p>
            <p>Adresse : {{userAddress}}</p>
            <p>Code postal : {{userZipcode}}</p>
            <p>Ville : {{userCity}}</p>
            {# <a href="" class="btn btn-primary">Modifier</a> #}
        </div>
        <div class="col-8">
            <h2>Mes commandes</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Référence</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in userOrders %}
                        <tr>
                            <td>{{order.reference}}</td>
                            <td><a href="">Details</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 </section>
{% endblock %}
