{% extends 'base.html.twig' %}

{% block title %}Administration des Utilisateurs{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            {% include "_parts/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des utilisateurs</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Rôle</th>
                            <th>E-mail</th>
                            <th>Adresse</th>
                            <th>Code Postal</th>
                            <th>Ville</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{user.id}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.firstname}}</td>
                                <td>
                                    {% if user.roles[0] == "ROLE_ADMIN" %}
                                        {% set name = "Administrateur" %}
                                        {% set color = "primary" %}
                                    {% else %}
                                        {% set name = "Utilisateur" %}
                                        {% set color = "secondary" %}
                                    {% endif %}
                                <span class="badge bg-{{color}}">{{name}}</span>
                                </td>
                                <td>{{user.email}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.zipcode}}</td>
                                <td>{{user.city}}</td>
                                <td><a class="btn btn-danger" href="">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </section>
{% endblock %}