<aside class="col-3 border border-light bg-light p-2">
    <div class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_categorie_index') }}">Liste des catégories</a></p>
            <p><a href="{{ path('admin_categorie_add') }}">Ajouter une catégorie</a></p>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_product_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_product_add') }}">Ajouter un produit</a></p>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_user_index') }}">Liste des utilisateurs</a></p>
        </div>
    </div>
</aside>