<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Projet-Final</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
			
			<div class="col-4">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Catégories
						</a>

						<ul class="dropdown-menu">
							{# {% for category in categories %}
								{% if category.parent == null %}
									<h5 class="p-2">{{category.name}}</h5>
								{% else %}
									<a href="{{path('categorie_list', {slug: category.slug})}}" class="dropdown-item">{{category.name}}</a>
								{% endif %}
							{% endfor %} #}
							<h5 class="p-2">Epicerie Salée</h5>
							<li>
								<a class="dropdown-item" href="#">Apéritifs</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Legumes</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Riz,Pâtes,Céréales</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Saucissons</a>
							</li>

							<li><hr class="dropdown-divider"></li>

							<h5 class="p-2">Epicerie Sucrée</h5>
							<li>
								<a class="dropdown-item" href="#">Fruits</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Bonbons</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Gâteaux</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Confitures</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>


			<div class="col-4">
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Rechercher</button>
				</form>
			</div>


			<div class="col-4 d-flex justify-content-evenly">
				<a href="{{path('cart_index')}}" class="nav-link">
					<svg class="svg-icon" style="width: 2.5em; height: 2.5em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M810.666667 298.666667h-128V256a170.666667 170.666667 0 0 0-341.333334 0v42.666667H213.333333a42.666667 42.666667 0 0 0-42.666666 42.666666v469.333334a128 128 0 0 0 128 128h426.666666a128 128 0 0 0 128-128V341.333333a42.666667 42.666667 0 0 0-42.666666-42.666666z m-384-42.666667a85.333333 85.333333 0 0 1 170.666666 0v42.666667h-170.666666z m341.333333 554.666667a42.666667 42.666667 0 0 1-42.666667 42.666666H298.666667a42.666667 42.666667 0 0 1-42.666667-42.666666V384h85.333333v42.666667a42.666667 42.666667 0 0 0 85.333334 0V384h170.666666v42.666667a42.666667 42.666667 0 0 0 85.333334 0V384h85.333333z"  /></svg>
				</a>
				<li class="nav-item dropdown pe-5">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="20.000000pt" height="20.000000pt" viewbox="0 0 1280.000000 1248.000000" preserveaspectratio="xMidYMid meet">
							<metadata>
								Created by potrace 1.15, written by Peter Selinger 2001-2017
							</metadata>
							<g transform="translate(0.000000,1248.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
								<path d="M6005 12474 c-22 -2 -89 -9 -149 -14 -542 -53 -1087 -253 -1556 -571
									-1089 -738 -1659 -2029 -1470 -3331 117 -802 507 -1518 1129 -2075 454 -406
									1057 -697 1666 -802 220 -39 317 -46 595 -46 278 0 375 7 595 46 1218 211
									2250 1096 2647 2269 353 1043 189 2180 -442 3075 -568 804 -1437 1318 -2425
									1435 -92 11 -518 21 -590 14z"/>
								<path d="M8585 5886 c-478 -363 -1085 -626 -1687 -730 -247 -43 -348 -51 -678
								-51 -319 0 -364 3 -612 41 -586 88 -1171 326 -1668 676 l-114 81 -106 -17
								c-58 -10 -181 -38 -275 -61 -807 -204 -1528 -616 -2120 -1210 -726 -728 -1170
								-1655 -1297 -2704 -29 -238 -32 -741 -5 -930 53 -378 142 -589 320 -758 171
								-163 421 -234 772 -220 269 11 533 55 1230 208 817 179 1195 244 1690 291 205
								19 4525 19 4730 0 495 -47 873 -112 1690 -291 697 -153 961 -197 1230 -208
								254 -10 438 21 605 103 172 84 315 254 390 463 74 203 108 420 117 736 34
								1230 -451 2439 -1332 3320 -707 707 -1608 1156 -2597 1294 -206 29 -201 30
								-283 -33z"/>
							</g>
						</svg>
					</a>
					<ul class="dropdown-menu mb-2 mb-lg-0">
						{% if app.user %}
							<li><a class="dropdown-item" href="#">Mon compte</a></li>

							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									<a class="dropdown-item" href="{{path('admin_index')}}">Administration</a>
								</li>
							{% endif %}

							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
						{% else %}
							<li><a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
						{% endif %}
					</ul>
				</li>
			</div>
		</div>
	</div>
</nav>